<div class="top-feature-row">
  <h1 class="fes-title" style="font-family: 'Ubuntu', sans-serif;">
  <i class="fa fa-anchor" aria-hidden="true">
  </i>
  START:DASH!!</h1>
  <% for (dash in site.data.sakura.startdash) { %>
  <div class="top-feature-v2">
    <div class="the-feature square from_left_and_right">
      <a href="<%= site.data.sakura.startdash[dash].url %>" target="_blank">
        <div class="img">
          <img src="<%- (site.data.sakura.cdn || '') + site.data.sakura.startdash[dash].img %>">
        </div>
        <div class="info">
          <h3><%= site.data.sakura.startdash[dash].title %></h3>
          <p><%= site.data.sakura.startdash[dash].desc %></p>
        </div>
      </a>
    </div>
  </div>
  <% } %>
</div>